.uploadfile {
  display: flex;
  flex-direction: column;
}
.package {
  display: flex;
  flex-direction: row ;
  align-items: center;
  background-color: transparent;
  border: none;
  gap:7px;
}
.file{
   display: flex;
   flex-direction: row ;
   align-items: center;
   background-color: transparent;
   border: none;
   gap:7px;
}
.file svg{
 color: blue;
}
.deletebutton{
  background-color: transparent;
  border: none;
}
.deleteicon{
  display: flex;
  align-items: center;
}
.deleteicon :hover{
 z-index: -1;
}
.rename{
  display: flex;
  gap:10px

}
.rename input{
  /* border: none; */
  border-color: rgba(128, 128, 128, 0.174);
}
.rename button{
  border: none;
  background-color: transparent;
}
.selected{
  /* background-color: black; */
  display: flex;
  flex-direction: row;
  gap:7px;
}